/* =========================== fonts ==================== */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Sevillana&display=swap");

.satisfy {
  font-family: "Satisfy", cursive;
}
.nav {
  z-index: -2;
}
.nam {
  z-index: -1;
}
/* ================ responsive ============== */

/* Medium devices (tablets, 768px and up) */
