/* ================= fonts ======================== */

/* body {
  background: #effbf8;
  z-index: -999;
} */

.bg {
  background: #effbf8;
  background-size: auto;
}
/* Tablet */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }

  .pl-[145px] {
    padding-left: 0 !important;
  }

  h1,
  h2 {
    text-align: center;
    font-size: 40px;
  }

  p {
    text-align: center;
    font-size: 18px;
  }

  .pt-[56px] {
    padding-top: 30px;
  }

  .pt-[80px] {
    padding-top: 40px;
  }

  .pr-[100px] {
    padding-right: 0 !important;
  }

  button {
    margin-bottom: 20px;
  }

  .flex img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  h1,
  h2 {
    font-size: 30px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  .pl-[145px],
  .pr-[100px] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  button {
    width: 100%;
    margin-bottom: 15px;
  }

  .flex img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .pt-[56px],
  .pt-[80px] {
    padding-top: 20px;
  }
}
